* {
	margin: 0;
	padding: 0;
}

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

header#main{
	width: 100%;
	min-height: 300px;
	background: url(../images/ft_course.jpg)no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.container {
	min-height: 100%;
	text-align: center;
	max-width: 960px;
	margin: 0 auto;
}
h1{
	text-align: center;
	font-size: 50px;
	padding: 28px;
	
}

.thumbnail {
	padding: 28px;
	display: inline-block;
	text-align: center;
	line-height: 1.428571429;
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	max-width: 100%;
}


/*
.thumbnails .thumbnail .thumbnail-preview {
	padding: 10px 10px 27px 10px;
	background: #fff;
	position: relative;
	overflow: hidden;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
*/

footer {
	position: relative;
	left:0;
	bottom: 0;
	width: 100%;
	background-color: #7f7878;
	height: 100px;
}